body {
    font-family: Arial, sans-serif;
    margin: 16px;
}
h1 {
    text-align: center;
    font-size: 19px;
    line-height: 32px;
    margin-bottom: 22px;
    width: 100%;
}
.content-container {
    text-align: center;
    margin: 20px auto;
    max-width: 1000px;
    width: 80%;
    box-sizing: border-box;
}
#censusForm {
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: left;
}
label {
    margin: 10px 0;
    width: 100%;
    display: block;
    font-size: 15px;
}
input {
    margin: 10px 0;
    padding: 8px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #ccc;
}
.form-row {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 4px;
    width: 100%;
}
button {
    display: block;
    margin: 33px auto;
    padding: 12px 28px;
    font-size: 17px;
    font-weight: bold;
    background-color: #739ad7;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}
button:hover {
    background-color: #262d4a;
}
button:active {
    background-color: #262d4a;
}
button.active {
    background-color: #262d4a;
    color: white;
}
#error {
    color: red;
}
#resultsTable, table td {
    border: 1px solid #000;
}

#resultsTable {
    display: none;
    width: 100%;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.table-container {
    width: 100%; /* 容器宽度 */
    text-align: left; /* 左对齐 */
    margin: 0 auto; /* 将容器居中 */
}

#tractInfo {
    font-weight: bold;
    margin-bottom: 10px;
}


table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
}
table td, table th {
    padding: 10px 30px;
    font-size: 14px;
    text-align: left;
}
#resultsTable th {
    background-color: #739ad7;
    color: white;
}
#resultsTable td:nth-child(1), #resultsTable th:nth-child(1) {
    width: 80%;
}
#resultsTable td:nth-child(2), #resultsTable th:nth-child(2) {
    width: 20%;
}
#searchCount {
    margin-top: 10px;
    font-size: 16px;
    display: none;
    text-align: left;
    margin-left: 20px;
}

.pagination {
    margin: 20px 0;
    text-align: center;
}
.pagination button {
    display: inline-block;
    background-color: #ece8d6;
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 8px;
}
.pagination button.active {
    background-color: #d48651;
    color: white;
}

@media (min-width: 800px) {
    h1 {
        text-align: center;
        font-size: 30px;
        line-height: 45px;
        margin-bottom: 35px;
    }
    label {
        margin: 5px 0;
        display: block;
        font-size: 17px;
    }
    #censusForm {
        width: 100%;
        margin: 0 auto;
    }
    .content-container {
        max-width:850px;
        margin: 0 auto;
        width: 100%;
    }
    .form-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }
    .form-row div {
        flex: 1;
        flex-basis: 40%;
        max-width: 380px;
    }
    input {
        width: 100%;
    }

    .table-container {
        width: 70%;   /* 桌面版上容器占70%的宽度 */
        margin-left: 15%; /* 左右15%的边距 */
        margin-right: 15%; /* 左右15%的边距 */
    }

    #resultsTable td:nth-child(1), #resultsTable th:nth-child(1) {
        width: 40%;
    }
    #resultsTable td:nth-child(2), #resultsTable th:nth-child(2) {
        width: 10%;
    }
}